<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quill Editor</title>
    <link href="static/quill.snow.css" rel="stylesheet">
</head>
<body>
    <div id="editor-container">
        <div id="toolbar">
            <!-- Add toolbar buttons here -->
            <button id="custom-button">My Button</button>
        </div>
        <div id="editor"></div>
    </div>

    <script src="static/quill.min.js"></script>
    <script src="static/app2.js"></script> <!-- Path to your custom JS file -->
</body>
</html>
